<div class="landing">
  <menu class="top-menu">
    <button class="menu-btn">
      <span class="material-symbols-rounded">
        menu
      </span>
    </button>
    <img src="../../assets/imgs/logo.png" alt="Giovanna Souza">
    <nav>
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Áreas de Atuação</a></li>
        <li><a href="#">Atendimento</a></li>
        <li><a href="#">Quem sou eu?</a></li>
        <li><a href="#">Depoimento</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>
    <a class="schedule btn" href="#">Agendar</a>
  </menu>
  <header class="hero-section">
    <div class="introduction">
      <h1>Construa seu Caminho de Autoconhecimento e Equilíbrio Emocional na Jornada terapêutica</h1>
      <div class="introduction-info">
        <ul>
          <li>Empatia</li>
          <li>Confiança</li>
          <li>Efetividade</li>
        </ul>
        <p>Fale do fundo do seu coração, ilumine-se atráves de seus próprios problemas. Sua Privacidade é garantida,
          100%
          segura.</p>
        <a href="#" class="btn">Agende uma consulta</a>
      </div>
    </div>
    <div class="introduction-image flower-9 flower-7">
      <div class="flower-shadow-left"></div>
      <img src="../../assets/imgs/intro-cover.png" alt="Intro Cover">
      <div class="flower-shadow-right"></div>
    </div>
  </header>
</div>
