<div class="landing">
  <menu class="top-menu">
    <button class="menu-btn">
      <span class="material-symbols-rounded">
        menu
      </span>
    </button>
    <img src="../../assets/imgs/logo.png" alt="Giovanna Souza">
    <div class="links">
      <nav>
        <ul class="zeroed-ul">
          <li><a href="#">Início</a></li>
          <li><a href="#">Áreas de Atuação</a></li>
          <li><a href="#">Atendimento</a></li>
          <li><a href="#">Quem sou eu?</a></li>
          <li><a href="#">Depoimento</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <a class="btn schedule" href="#">Agendar</a>
    </div>
  </menu>
  <header class="hero-section">
    <img class="flower-8" src="../../assets/imgs/flower-8.png" alt="Flower 8">
    <div class="introduction">
      <h1>Construa seu Caminho de Autoconhecimento e Equilíbrio Emocional na Jornada terapêutica</h1>
      <div class="introduction-info">
        <ul class="zeroed-ul">
          <li>Empatia</li>
          <li>Confiança</li>
          <li>Efetividade</li>
        </ul>
        <p>Fale do fundo do seu coração, ilumine-se atráves de seus próprios problemas. Sua Privacidade é garantida,
          100%
          segura.</p>
        <a href="#" class="btn">Agende uma consulta</a>
      </div>
    </div>
    <div class="introduction-image flower-9 flower-7">
      <div class="flower-shadow-left"></div>
      <img src="../../assets/imgs/intro-cover.png" alt="Intro Cover">
      <div class="flower-shadow-right"></div>
    </div>
  </header>
  <section class="section services">
    <h2>Áreas de Atuação</h2>
    <div class="services-content">
      <div class="service-list">
        <ul class="zeroed-ul">
          <li *ngFor="let activity of response.areasOfActivity" (click)="onSelectedActivity(activity)">
            {{activity.title}}
          </li>
        </ul>
      </div>
      <div *ngIf="selectedActivity" class="service-explanation">
        <h3>{{selectedActivity.title}}</h3>
        <div class="service-explanation-topics">
          <div *ngFor="let item of selectedActivity.items">{{item}}</div>
        </div>
        <a [href]="selectedActivity" class="btn">{{selectedActivity.btnLabel}}</a>
      </div>
    </div>
  </section>
</div>
