$accent-color: #71b8c3;
$accent-background-color: hsla(188, 41%, 60%, 0.2);
$accent-contrast-color: white;
$border-radius: 8px;
$page-padding: 0 5rem;

* {
  transition: all 0.1s;
}

.landing {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .menu-btn {
    border: unset;
    background-color: unset;
    cursor: pointer;
    display: none;
  }
  .links {
    display: flex;
    gap: 1rem;
  }
  .btn {
    width: fit-content;
    font-size: 16px;
    padding: 0.7rem 1rem;
    background-color: $accent-color;
    color: $accent-contrast-color;
    border-radius: $border-radius;
    text-decoration: unset;
    font-weight: 600;
  }
  .top-menu {
    width: 100%;
    min-height: 64px;
    margin: unset;
    padding: $page-padding;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    z-index: 9999;
    nav {
      ul {
        display: flex;
        li {
          list-style-type: none;
          padding: 0.5rem 1rem;
          text-align: center;
          height: fit-content;
          overflow: hidden;
          word-break: keep-all;
          text-overflow: ellipsis;
          &:not(:last-child) {
            border-right: solid $accent-color 1px;
          }
          a {
            text-decoration: unset;
            color: inherit;
            &:hover {
              border-bottom: 2px solid $accent-color;
            }
          }
        }
      }
    }
  }
  .hero-section {
    min-height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 4rem;
    position: relative;
    padding: $page-padding;
    .introduction {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      z-index: 10;
      padding-right: 5rem;
      h1 {
        color: $accent-color;
        font-size: 2.5rem;
      }
      .introduction-info {
        width: 60%;
        display: flex;
        flex-direction: column;
        font-size: x-large;
        gap: 1rem;
        ul {
          display: flex;
          li {
            list-style-type: none;
            &:not(:first-child) {
              &:before {
                content: "•";
                color: $accent-color;
                padding: 0 0.5em;
              }
            }
          }
        }
      }
    }
    .introduction-image {
      position: relative;
      z-index: 9;
      img {
        width: 100%;
      }
    }
    .flower-shadow {
      width: 16px;
      height: 75%;
      position: absolute;
      background-color: $accent-color;
      filter: blur(40px);
    }
    .flower-shadow-left {
      @extend .flower-shadow;
      left: 0;
    }
    .flower-shadow-right {
      @extend .flower-shadow;
      bottom: 0;
      right: 0;
    }
    .flower-9:after {
      content: url(../../assets/imgs/flower-9.png);
      position: absolute;
      z-index: -1;
      left: -88px;
    }
    .flower-8 {
      position: absolute;
      top: 25%;
      left: 0;
    }
  }
  .section {
    min-height: 300px;
    padding: $page-padding;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .activities {
    background-color: $accent-background-color;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 9;
    .activities-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      .activities-list {
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          li {
            width: 50%;
            padding: 0.5rem 1rem;
            background-color: var(--color-background);
            border-radius: $border-radius;
            text-align: center;
            color: $accent-color;
            font-weight: 600;
            cursor: pointer;
          }
        }
      }
      .activities-explanation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .activities-explanation-topics {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          .activities-explanation-topic {
            padding: 1rem;
            text-align: justify;
            &:not(:last-child) {
              border-right: solid 1px $accent-color;
            }
          }
        }
      }
    }
    .selected-activity {
      border: solid 1px $accent-color;
    }
    .flower-12 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    .flower-4 {
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(-180deg);
      z-index: -1;
    }
  }
  .services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 9;
    .service-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 12rem;
      .service-item {
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
        background-color: $accent-color;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        font-size: larger;
        text-align: center;
        position: relative;
        img {
          width: 40%;
        }
        .btn {
          color: $accent-color;
          background-color: var(--color-background);
        }
      }
    }
  }
  .about-me {
    display: grid;
    grid-template-columns: 3fr 1fr;
    z-index: 9;
    .about-me-information {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .about-me-name {
        font-weight: 600;
        font-size: xx-large;
      }
      .about-me-council {
        font-size: x-large;
      }
      .about-me-description {
        white-space: pre-line;
        font-size: larger;
      }
    }
    .about-me-profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .img {
        margin-top: -96px;
        z-index: 11;
      }
      ul {
        margin-top: -32px;
        display: flex;
        list-style-type: none;
        z-index: 12;
      }
    }
  }
  .testimonies {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .testimonies-information {
      width: 90%;
      margin: 0 auto;
    }
    .flower-1 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    .flower-5 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
  .faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 9;
    @extend .background-gradient-accent;
    .faq-list {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .faq-list-item {
        @extend .box-shadow;
        border-radius: $border-radius;
        background-color: var(--color-background);
        padding: 1rem;
        .faq-list-item-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .material-symbols-rounded {
            font-size: xx-large;
            color: $accent-color;
          }
        }
        p {
          display: none;
        }
      }
      .faq-list-item-selected {
        margin-bottom: 1rem;
        .faq-list-item-header {
          .material-symbols-rounded {
            transform: rotate(180deg);
          }
        }
        p {
          display: block !important;
        }
      }
    }
    .flower-14 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  .flower-7:before {
    content: url(../../assets/imgs/flower-7.png);
    position: absolute;
    z-index: -1;
    right: -64px;
    top: 16%;
  }
  .flower-3:after {
    content: url(../../assets/imgs/flower-3.png);
    position: absolute;
    z-index: -1;
    left: -121px;
    top: 16%;
    transform: rotate(-30deg);
  }
  .box-shadow {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  }
  .top-menu-scrolled {
    padding: 1rem;
    background: var(--color-background-glass);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .background-gradient-accent {
    background: linear-gradient(0deg, transparent 0%, $accent-background-color 100%);
  }
  .slider {
    width: 100%;
    min-height: 150px;
    display: grid;
    gap: 5rem;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: repeat(3, 100%);
    .slider-arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $accent-color;
      font-weight: 600;
      cursor: pointer;
      .material-symbols-rounded {
        font-size: 64px;
        color: $accent-color;
      }
    }
    .slider-item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: large;
    }
  }
  .shadow-circle {
    width: 100%;
    height: 120%;
    background-color: red;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    filter: blur(40px);
  }
}
