<div class="landing">
  <menu class="top-menu">
    <button class="menu-btn">
      <span class="material-symbols-rounded">
        menu
      </span>
    </button>
    <img src="../../assets/imgs/logo.png" alt="Giovanna Souza">
    <div class="links">
      <nav>
        <ul class="zeroed-ul">
          <li><a href="#">Início</a></li>
          <li><a href="#activities">Áreas de Atuação</a></li>
          <li><a href="#services">Atendimento</a></li>
          <li><a href="#">Quem sou eu?</a></li>
          <li><a href="#">Depoimento</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <a class="btn schedule" href="#">Agendar</a>
    </div>
  </menu>
  <header class="hero-section">
    <img class="flower-8" src="../../assets/imgs/flower-8.png" alt="Flower 8">
    <div class="introduction">
      <h1>Construa seu Caminho de Autoconhecimento e Equilíbrio Emocional na Jornada terapêutica</h1>
      <div class="introduction-info">
        <ul class="zeroed-ul">
          <li>Empatia</li>
          <li>Confiança</li>
          <li>Efetividade</li>
        </ul>
        <p>Fale do fundo do seu coração, ilumine-se atráves de seus próprios problemas. Sua Privacidade é garantida,
          100%
          segura.</p>
        <a href="#" class="btn">Agende uma consulta</a>
      </div>
    </div>
    <div class="introduction-image flower-9 flower-7">
      <div class="flower-shadow-left"></div>
      <img src="../../assets/imgs/intro-cover.png" alt="Intro Cover">
      <div class="flower-shadow-right"></div>
    </div>
  </header>
  <section id="activities" class="section activities">
    <h2>Áreas de Atuação</h2>
    <img src="../../assets/imgs/flower-12.png" alt="Flower" class="flower-12">
    <img src="../../assets/imgs/flower-4.png" alt="Flower" class="flower-4">
    <div class="activities-content">
      <div class="activities-list">
        <ul class="zeroed-ul">
          <li *ngFor="let activity of response?.areasOfActivity" (click)="onSelectedActivity(activity)"
            [class.selected-activity]="selectedActivity?.id === activity.id">
            {{activity.title}}
          </li>
        </ul>
      </div>
      <div *ngIf="selectedActivity" class="activities-explanation">
        <h3>{{selectedActivity.title}}</h3>
        <div class="activities-explanation-topics">
          <div class="activities-explanation-topic" *ngFor="let item of selectedActivity.items">{{item}}</div>
        </div>
        <a href="#" class="btn">{{selectedActivity.btnLabel}}</a>
      </div>
    </div>
  </section>
  <section id="services" class="section services">
    <h2>Atendimento</h2>
    <div class="service-items">
      <div *ngFor="let serviceItem of response?.services; let i = index"
        [ngClass]="{'service-item': true, 'flower-7': (i === 0), 'flower-3': (i === (response.services.length - 1)), 'box-shadow': true}">
        <img [src]="'../../assets/imgs/'+serviceItem.imgSrc" attr.alt="{{serviceItem.title}}">
        <h3>{{serviceItem.title}}</h3>
        <p>{{serviceItem.description}}</p>
        <a href="#" class="btn">{{serviceItem.btnLabel}}</a>
      </div>
    </div>
  </section>
  <section *ngIf="response?.aboutMe" class="section background-gradient-accent">
    <h2>Quem sou Eu?</h2>
    <div class="about-me">
      <div class="about-me-information">
        <div>
          <p class="about-me-name">{{response.aboutMe.name}}</p>
          <p class="about-me-council">{{response.aboutMe.council}}</p>
        </div>
        <p class="about-me-description">{{response.aboutMe.description}}</p>
      </div>
      <div class="about-me-profile">
        <img class="img" src="../../assets/imgs/profile-img.png" alt="Psicologa">
        <ul class="zeroed-ul">
          <li *ngFor="let social of response.aboutMe.socialMedias">
            <a href="{{social.url}}"><img src="../../assets/imgs/{{social.imgUrl}}" alt="{{social.title}}"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section *ngIf="selectedTestimony" class="testimonies section">
    <h2>Depoimentos</h2>
    <div class="testimonies-information">
      <img class="flower-1" src="../../assets/imgs/flower-1.png" alt="Flower" />
      <div class="slider">
        <div class="slider-arrow" (click)="onTestimonyArrow('back')">
          <span class="material-symbols-rounded">
            arrow_back_ios
          </span>
        </div>
        <div class="slider-item">
          <p><i>"{{selectedTestimony.text}}" - {{selectedTestimony.author}}</i></p>
        </div>
        <div class="slider-arrow" (click)="onTestimonyArrow('forward')">
          <span class="material-symbols-rounded">
            arrow_forward_ios
          </span>
        </div>
      </div>
      <img class="flower-5" src="../../assets/imgs/flower-5.png" alt="Flower" />
    </div>
  </section>
</div>
