$accent-color: #71b8c3;
$accent-background-color: hsla(188, 41%, 60%, 0.2);
$accent-contrast-color: white;
$border-radius: 4px;
$page-padding: 0 5rem;

.landing {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .menu-btn {
    border: unset;
    background-color: unset;
    cursor: pointer;
    display: none;
  }
  .links {
    display: flex;
    gap: 1rem;
  }
  .btn {
    width: fit-content;
    font-size: 16px;
    padding: 0.7rem 1rem;
    background-color: $accent-color;
    color: $accent-contrast-color;
    border-radius: $border-radius;
    text-decoration: unset;
  }
  .top-menu {
    width: 100%;
    min-height: 64px;
    margin: unset;
    padding: $page-padding;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      ul {
        display: flex;
        li {
          list-style-type: none;
          padding: 0.5rem 1rem;
          text-align: center;
          height: fit-content;
          overflow: hidden;
          word-break: keep-all;
          text-overflow: ellipsis;
          &:not(:last-child) {
            border-right: solid $accent-color 1px;
          }
          a {
            text-decoration: unset;
            color: inherit;
            &:hover {
              border-bottom: 2px solid $accent-color;
            }
          }
        }
      }
    }
  }
  .hero-section {
    min-height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 4rem;
    position: relative;
    padding: $page-padding;
    .introduction {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      z-index: 10;
      padding-right: 5rem;
      h1 {
        color: $accent-color;
        font-size: 2.5rem;
      }
      .introduction-info {
        width: 60%;
        display: flex;
        flex-direction: column;
        font-size: x-large;
        gap: 1rem;
        ul {
          display: flex;
          li {
            list-style-type: none;
            &:not(:first-child) {
              &:before {
                content: "•";
                color: $accent-color;
                padding: 0 0.5em;
              }
            }
          }
        }
      }
    }
    .introduction-image {
      position: relative;
      z-index: 9;
      img {
        width: 100%;
      }
    }
    .flower-shadow {
      width: 16px;
      height: 75%;
      position: absolute;
      background-color: $accent-color;
      filter: blur(40px);
    }
    .flower-shadow-left {
      @extend .flower-shadow;
      left: 0;
    }
    .flower-shadow-right {
      @extend .flower-shadow;
      bottom: 0;
      right: 0;
    }
    .flower-9:after {
      content: url(../../assets/imgs/flower-9.png);
      position: absolute;
      z-index: -1;
      left: -88px;
    }
    .flower-7:before {
      content: url(../../assets/imgs/flower-7.png);
      position: absolute;
      z-index: -1;
      right: -64px;
      top: 16%;
    }
    .flower-8 {
      position: absolute;
      top: 25%;
      left: calc(-76px * 1.2);
    }
  }
  .section {
    padding: $page-padding;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .services {
    min-height: 300px;
    background-color: $accent-background-color;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .services-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      .service-list {
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          li {
            width: 60%;
            padding: 0.5rem 1rem;
            background-color: $accent-contrast-color;
            border-radius: $border-radius;
            text-align: center;
            color: $accent-color;
            font-weight: 600;
            cursor: pointer;
          }
        }
      }
      .service-explanation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .service-explanation-topics {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}
