@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Theme
/* 1. Create global variables for text and background color */
:root {
  --color-text: black;
  --color-background: white;
  --color-background-glass: rgba(255, 255, 255, 0.8);
}

/* 2. Add conditional styling for dark mode preference */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
    --color-background: #333333;
    --color-background-glass: rgba(51, 51, 51, 0.8);
  }
  .section {
    h2 {
      color: var(--color-text) !important;
    }
  }
}

html,
body {
  margin: unset;
  padding: unset;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  .material-symbols-rounded {
    color: var(--color-text);
  }
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  padding: unset;
  margin: unset;
}

.zeroed-ul {
  padding: unset;
  margin: unset;
}
